@import url(./reset.css);
@font-face {
    font-family: Zombie;
    src: url(../fonts/thedeadarecoming/TheDeadAreComing.ttf);
}

@font-face {
    font-family: Zombie-Numbers;
    src: url(../fonts/zombified/Zombified.ttf);
    unicode-range: U+30-39;;
}

h1{
    font-size: 600px;
    margin-top: 50px;
    font-family: Zombie; 
    display: block;
    font-size: 3vw;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

html,
body{
    background-color: black;
    /* height: 100%;
    width: 100%; */
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

#container{
    margin: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    color: white;
}

.blood{
    background-image: url(../images/blood-top.png);
    background-size: cover;
    background-position: center;
}

.blood-hands{
    display: flex;
}

.right-hand{
    margin-right: auto;
    display: block;
}

.left-hand{
    margin-left: auto;
    display: block;
}

.blood img{
    height: 150px;
    width: 75px;
    margin: auto;
    object-fit: fill;
    
}

 .main-content{
    display: block;
} 

#rps-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.button{
    width: 200px;
    min-width: 0;
    height: 200px;
    border: 1px solid white;
    margin: 0 25px;
    display: block;
}

.button img{
    width: 200px;
    height: 200px;
    object-fit:contain;

}